<html>
<body>
<style>
body {
  background-image: url('medical.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 100% 100%;
}

h2 {
      padding-top: 400px;
}
</style>
<h2 style="color: aliceblue;">India is a country that is rapidly prospering on the one hand, but a large majority of its citizens 
still lack access to basic medical care. Child mortality rates in rural India are high, with nearly 100 out 
of every 1,000 children dying before their fifth birthday. Almost half of those children die within the first
 month after birth. Even maternal deaths are prominant of about 25,220 deaths in 2020. Women's lack of access 
 to resources and education is a significant, problem that contributes to infant mortality. Other factors
  affecting this is the social status of women the caste system and many unknown factors. To solve this problem 
  we created a website. In this website we try 
to predict the maternal health status by taking simple inputs that can be detected even at small hospitals.
The website uses a pre trained ML model to hence predict the status. It also gives some general health tips to 
be followed. Click the below link to begin.</h2>
<a href="kot.html"><buttton>Click here</buttton></a>
</body>
</html>
