<<<<<<< HEAD
@import url('https://fonts.googleapis.com/css?family-Poppins:100,200,300,400,500,600,700');
*
{
    margin: 0;
    padding: 0;
}
.cover{
    /*--background: #3333;*/
    font-family: 'Poppins', sans-serif;
    align-items: center;
    justify-content: center;
    display: flex;
    width: 0px;
}
.cover{
    height: 0px;
    padding: 270px;
    width: 900px;
    background-color: #f1f1f1;
    background-color: rgb(255, 254, 195);
    /*background: #000;*/
    margin-top: 200px;
    display: flex;
}
.box{
    margin: 15px;
    width: 800px;
    height: 400px;
    box-shadow: -1px 0 10px #000000;
    align-items: center;
    justify-content: center;
    text-align: center;
    /*background-color: black*/;    
}
img{
    width: 300px;
    height: 200px;
    display: flex; 
=======
@import url('https://fonts.googleapis.com/css?family-Poppins:100,200,300,400,500,600,700');
*
{
    margin: 0;
    padding: 0;
}
.cover{
    /*--background: #3333;*/
    font-family: 'Poppins', sans-serif;
    align-items: center;
    justify-content: center;
    display: flex;
    width: 0px;
}
.cover{
    height: 0px;
    padding: 270px;
    width: 900px;
    background-color: #f1f1f1;
    background-color: rgb(255, 254, 195);
    /*background: #000;*/
    margin-top: 200px;
    display: flex;
}
.box{
    margin: 15px;
    width: 800px;
    height: 400px;
    box-shadow: -1px 0 10px #000000;
    align-items: center;
    justify-content: center;
    text-align: center;
    /*background-color: black*/;    
}
img{
    width: 300px;
    height: 200px;
    display: flex; 
>>>>>>> a11790eed7f625719cfc0e61eaf34493142b95dd
}